.webauthn-credentials-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;

  & h4 {
    text-align: center;
  }

  &__credential {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
  }
}