.container {
  width: 100%;
  max-width: 60rem;
  padding-right: var(--space-m);
  padding-left: var(--space-m);
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 50rem) {
    width: 100%;
    padding-right: var(--space-xs);
    padding-left: var(--space-xs);
    font-size: var(--font-size-s);
  }
}
