<nav class="navbar">
  <%= link_to "WebAuthn Demo", root_path, class: "navbar__home" %>

  <div class="navbar__links">
    <% if current_user %>
      <%= button_to "Logout", sessions_user_path, method: :delete, data: { turbo: false }, class: "btn btn--dark" %>
    <% else %>
      <%= link_to "Login", new_sessions_user_path, class: "btn btn--primary" %>
    <% end %>
  </div>
</nav>