<li id="<%= dom_id(credential) %>">
  <div class="webauthn-credentials-index__credential">
    <p><%= credential.nickname %></p>
    <%= link_to 'Delete', webauthn_credential_path(credential), method: :delete, class: "btn btn--dark" %>
  </div>
</li>
