<h1>Multi-Factor Authentication</h1>

<div id="new_webauthn_credential">
  <%= render partial: "form", locals: {credential: WebauthnCredential.new, error: nil} %>
</div>

<div>
  <ul id="webauthn_credentials">
    <%= render partial: "credential", collection: credentials %>
  </ul>
</div>

<%= link_to "Back to home", static_pages_path %>
