<div class="webauthn-credentials-index">
  <h2>Multi-factor authentication</h2>

  <div id="new_webauthn_credential">
    <h4>Add new credential</h4>
    <%= render partial: "form", locals: {credential: WebauthnCredential.new, error: nil} %>
  </div>
  
  <div>
    <h4>Existing credentials</h4>
    <ul id="webauthn_credentials">
      <%= render partial: "credential", collection: credentials %>
    </ul>
  </div>
  
  <%= link_to "Back to home", static_pages_path %>
</div>
